In [1]:
# The Usual Suspects
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
import seaborn as sns
import matplotlib.pyplot as plt
import math

import nltk

In [9]:
# get the data
messages= [line.rstrip() for line in open("F:/Libraries/Documents/Phyton project/udemy/SMSSpamCollection")]

In [10]:
len(messages)

5574

In [19]:
#for num, message in enumerate(messages[:10]):
 #   print (num, message)

In [24]:
messages= pd.read_csv("F:/Libraries/Documents/Phyton project/udemy/SMSSpamCollection",
                     sep = '\t', names= ['labels', 'message'])

In [26]:
messages.head()

  labels                                            message
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [27]:
messages.describe()

       labels                 message
count    5572                    5572
unique      2                    5169
top       ham  Sorry, I'll call later
freq     4825                      30

In [29]:
messages.groupby('labels').describe()

       message
         count unique                                                top freq
labels
ham       4825   4516                             Sorry, I'll call later   30
spam       747    653  Please call our customer service representativ...    4